<%- include("partials/header.ejs") %>


<div class="card" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <% items.forEach(file => { %>
        <form action="/blogs" method="POST">
          <button name="<%= file %>" type="submit" value="<%= file %>"><%= file %></button>

        </form>
      <% }); %>
    </ul>
  </div>  

<%- include("partials/footer.ejs") %>